.topics{
    background: var(--blue-gradient);
    text-align: center;
    padding: 2em 0;
}

.topics__title{
    text-transform: uppercase;
    color: var(--white);
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item{
    margin: 2em .5em;
}

.topics__link{
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}